/* Extra CSS */

.scrollable {
  height: 80%;
  overflow-y: auto;
} 

.container {
  height: 1410px;
  width: 526px;
}

.fit {
  height: 200px;
  width: 400px;
}


/* Extra CSS */
.ex1 {
  background-color: lightblue;
   width: 40px;
  overflow-x: scroll;
}


/* Extra CSS */
.ex1 {
  background-color: lightblue;
   width: 40px;
  overflow-x: scroll;
}


/* Extra CSS */
.ex1 {
  background-color: lightblue;
   width: 40px;
  overflow-x: scroll;
}


/* Extra CSS */
.ex1 {
  background-color: lightblue;
   width: 40px;
  overflow-x: scroll;
}
